<dd>
  <%= image_tag db.avatar.image.url(:profile) %>
  <span class="occupation">
    <span class="label">Occupation</span>
    <%= db.occupation %>
  </span>
  <span class="bagfactor">
    <span class="label">Bagfactor<sup>&copy;</sup></span>
    <%= db.bagfactor %>
  </span>
</dd>