body {
  font: 12.5px "Lucida Grande", verdana, sans-serif; margin: 0; padding: 0;
}

h1 { display: none; }

a { color: #333; text-decoration: none; border-bottom: 1px dotted #333; }

iframe {
  border: none;
  height: 60px;
}

input.file {
  margin-bottom: 41px;
}

#header {
  margin: 0 auto;
  background: url(/images/header.jpg) 0 -20px no-repeat;
  width: 660px;
  height: 265px;
  padding: 0;
}

#container { 
  width: 660px;
  margin: 0 auto;
}

#options {
  position: absolute;
  margin: 0;
  top: -85px;
  right: 20px;
  padding: 10px 20px;
  background-color: #ff0;
  z-index: 100;
}

#options span {
  display: block;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

#options ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#notice {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}

span.label {
  font-size: .667em;
  color: #666;
  display: block;
}

dl { padding: 0; margin: 0; }

dl.db-list dt {
  position: relative;
  z-index: 100;
  margin-bottom: 2em;
  clear: both;
}

dl.db-list span.position {
  position: absolute;
  display: block;
  font-size: 4em;
  float: left;
  background-color: #008DB5;
  width: 1.25em;
  height: 1.20em;
  text-align: center;
  color: white;
  padding-top: .05em;
}

dl.db-list span.name {
  display: block;
  background-color: #E7D3DE;
  font-size: 2em;
  padding: .5em 0 .5em 3em;
}

dl.db-list dd {
  font-size: 2.5em;
  margin: 0 0 -1em 1em;
  background-color: #eee;
  padding: 1em;
  position: relative;
  top: -1em;
}

dl.db-list dd img.avatar {
  float: right;
  margin-top: .75em;
  width: 5em;
  height: 5em;
}

dl.db-list dd span {
  margin-top: 1.25em;
}

dl.db-list dd.spinner {
  height: 6em;
  background: #eee url(/images/spinner.gif) center center no-repeat;
}

dl.new-db dt {
  float: left;
  width: 100px;
}

dl.new-db dd {
  margin-bottom: 20px;
}
