body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  background-color: #eee;
  overflow-y: scroll;
}

a {
  background-color: #c00;
  color: white;
  padding: 5px;
  font-size: .8em;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  background-color: #600;
}


a.disabled {
  background-color: #ccc;
}

h1 {
  padding: 10px;
  margin: 0 0 10px 0;
  background-color: #003;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: .2em;
  color: white;
}

h2 {
  margin: 0 0 20px 0;
  padding: 0;
}

div#slide-container {
  margin: 0 auto;
  padding: 0;
  text-align: left;
  width: 800px;
  height: 700px;
  overflow: hidden;
  background-color: white;
  position: relative;
}

div#slide-container .options {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  text-align: center;
  padding-top: 10px;
  border-top: 1px dotted #ccc;
}

div#slide-container .options a {
  float: left;
  margin-right: 5px;
}

div#slide-container .options a.prev,
div#slide-container .options a.next {
  float: right;
  margin: 0 0 0 5px;
}

ol#slides {
  list-style-type: none;
  width: 1200px;
  margin: 0 0 0 0px;
  padding: 0;
}

ol#slides>li {
  margin: 0;
  padding: 20px;
  display: block;
  width: 760px;
  height: 660px;
  float: left;
  position: relative;
}

ol#slides ul {
  list-style-type: square;
  margin-bottom: 20px;
}

ol#slides img {
  display: block;
  margin: 0 auto;
}

ol#slides img.top-pad {
  margin-top: 100px;
}

ol#slides blockquote {
  margin: ;
  font: italic 2em Georgia, serif;
  line-height: 2em;
}

ol#slides p.caption {
  text-align: center;
}

ol#slides p.citation {
  font-style: italic;
  text-align: right;
}

ol#slides table td, ol#slides table th {
  font-size: 2em;
  padding: 0 100px 20px 0;
}

div.executable {
  position: relative;
}

div.executable a.apply-js {
  position: absolute;
  top: 0;
  right: 0;
}

div.lightbox {
  display: none;
  position: absolute;
  left: 50%;
  margin: -600px 0 0 -425px;
  height: 720px;
  width: 850px;
  background: url(../images/browser.png) no-repeat center;
}

div.lightbox iframe {
  height: 576px;
  width: 760px;
  margin-top: 75px;
  border: 0;
}