body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  background-color: #eee;
  overflow-y: scroll;
}

a {
  background-color: #c00;
  color: white;
  padding: 5px;
  font-size: .8em;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  background-color: #600;
}


a.disabled {
  background-color: #ccc;
}

h1 {
  display: none;
}

h2 {
  margin: 10px 0 30px -20px;
  font-size: 2em;
}

h2 span {
  background-color: #FF0;
  padding: 5px 10px;
}

h3 {
  line-height: 1.5em;
}

h3 em {
  font-style: normal;
  color: #aaa;
}

div#slide-container {
  margin: 0 auto;
  padding: 0;
  text-align: left;
  width: 800px;
  height: 700px;
  overflow: hidden;
  background-color: white;
  position: relative;
}

div.options {
  position: absolute;
  top: 10px;
  right: 10px;
}

div.options a {
  margin-left: 5px;
  background-color: #999;
}

div.buttons {
  display: block;
  position: absolute;
  top: 10px;
  right: 5px;
}

div.buttons a {
  margin-left: 5px;
}

ol#slides {
  list-style-type: none;
  width: 1200px;
  margin: 0 0 0 0px;
  padding: 0;
}

ol#slides>li {
  margin: 0;
  padding: 20px;
  display: block;
  width: 760px;
  height: 660px;
  float: left;
  position: relative;
}

ol#slides li.centered {
  text-align: center;
  padding-top: 250px;
}

ol#slides li.centered h2 {
  margin: 0 0 20px 0;
}

ol#slides ul {
  list-style-type: square;
  font-size: 2em;
}

ol#slides ul li {
  margin-bottom: 20px;
}

ol#slides img {
  display: block;
  margin: 0 auto;
}

ol#slides img.top-pad {
  margin-top: 100px;
}

ol#slides span.image-container {
  margin-top: 100px;
  display: block;
  text-align: center;
}

ol#slides span.image-container img {
  display: inline;
  vertical-align: middle;
  padding: 0 20px;
}

ol#slides blockquote {
  margin: ;
  font: italic 2em Georgia, serif;
  line-height: 2em;
}

ol#slides p.caption {
  text-align: center;
}

ol#slides p.citation {
  font-style: italic;
  text-align: right;
  margin-right: 100px;
}

ol#slides table td, ol#slides table th {
  font-size: 2em;
  padding: 0 100px 20px 0;
}

pre.big {
  font-size: 48px;
}

div.executable {
  position: relative;
}

div.executable a.apply-js {
  position: absolute;
  top: 0;
  right: 0;
}

div.lightbox {
  display: none;
  position: absolute;
  left: 50%;
  margin: -600px 0 0 -425px;
  height: 720px;
  width: 850px;
  background: url(../images/browser.png) no-repeat center;
}

div.lightbox iframe {
  height: 576px;
  width: 760px;
  margin-top: 75px;
  border: 0;
}