<html>
<head>
  <title>DBDB</title>
  <%= stylesheet_link_tag "global", :cache => true %>
  <%= javascript_include_tag :defaults, "jquery.livequery", :cache => true %>
</head>
<body>
  <div id="container">
    <h1>DBDB</h1>
  
    <%= yield %>
  </div>
</body>
</html>